<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tavultesoft.kmapro" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="com.tavultesoft.kmapro.NetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.keyman.android.SystemKeyboard"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <service
            android:name="com.tavultesoft.kmea.util.DownloadIntentService"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="true"
            />

        <activity
            android:name="com.tavultesoft.kmapro.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Intending to deprecate keyman:// protocol in https://github.com/keymanapp/keyman/issues/538 -->
                <data android:scheme="keyman" android:host="localhost" android:path="/open" />
            </intent-filter>

            <!--
                 Capture content by MIME type, which is how Gmail broadcasts
                 attachment open requests.  pathPattern and file extensions
                 are ignored, so the MIME type *MUST* be explicit, otherwise
                 we will match absolutely every file opened.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" android:mimeType="application/kmp" />
                <data android:scheme="content" android:mimeType="application/vnd.kmp" />
                <data android:scheme="content" android:mimeType="application/x-vnd.kmp" />

                <!-- Android DownloadManager doesn't have ".kmp" in the names it passes to the intent -->
                <data android:scheme="content" android:mimeType="application/octet-stream" />
                <data android:scheme="content" android:mimeType="application/zip" />
            </intent-filter>

            <!-- Experiment for Samsung MyFiles browser -->
            <intent-filter>
                <action android:name="com.sec.android.app.myfiles.PICK_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" android:mimeType="*/*" />

                <!--data android:scheme="content" android:mimeType="application/vnd.kmp" />
                <data android:scheme="content" android:mimeType="application/x-vnd.kmp" />

                <data android:scheme="content" android:mimeType="application/octet-stream" />
                <data android:scheme="content" android:mimeType="application/zip" /-->
            </intent-filter>

            <!--
                 Capture file open requests (pathPattern is honoured) where no
                 MIME type is provided in the Intent.  An Intent with a null
                 MIME type will never be matched by a filter with a set MIME
                 type, so we need a second intent-filter if we wish to also
                 match files with this extension and a non-null MIME type
                 (even if it is non-null but zero length).
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" android:host="*" />

                <!-- Android's implementation of PatternMatcher for pathPattern limits special characters to '.', '*', and '\\' -->
                <data android:pathPattern=".*\\.kmp" />
                <data android:pathPattern=".*\\..*\\.kmp" />
                <data android:pathPattern=".*\\..*\\..*\\.kmp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.kmp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.kmp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.kmp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.kmp" />
            </intent-filter>

            <!--
                 Capture file open requests (pathPattern is honoured) where a
                 (possibly blank) MIME type is provided in the Intent.  This
                 filter may only be necessary for supporting ES File Explorer,
                 which has the probably buggy behaviour of using an Intent
                 with a MIME type that is set but zero-length.  It's
                 impossible to match such a type except by using a global
                 wildcard.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" android:host="*" android:mimeType="*/*" />

                <!-- Android's implementation of PatternMatcher for pathPattern limits special characters to '.', '*', and '\\' -->
                <data android:pathPattern=".*\\.kmp" />
                <data android:pathPattern=".*\\..*\\.kmp" />
                <data android:pathPattern=".*\\..*\\..*\\.kmp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.kmp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.kmp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.kmp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.kmp" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- http:// and  https:// protocols -->
                <data android:scheme="http" android:host="*" android:pathPattern=".*\\.kmp" />
                <data android:scheme="https" android:host="*" android:pathPattern=".*\\.kmp" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.tavultesoft.kmapro.InfoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tavultesoft.kmapro.WebBrowserActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tavultesoft.kmapro.BookmarksActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tavultesoft.kmapro.PackageActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tavultesoft.kmapro.GetStartedActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tavultesoft.kmapro.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>